.add-product{
width: 35%;
margin: auto;
padding: 15px;
background-color: white;
position: fixed;
top: 130px;
left: 510px;
z-index: 999;
}
.opacity{
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99
}
.add-title{
    text-align: center;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}
.add-input{
    width: 100%;
    padding: 5px 10px;
    font-size: 15px;
    margin: 5px 0;
    box-sizing: border-box;
}
.add-btn{
width: 35%;
background-color: black;
font-size: 15px;
color: white;
border-radius: 5px;
font-weight: 600;
padding: 8px 16px;
display: block;
margin: auto;
margin-top: 10px;
}
.x-mark{
    font-size: 18px;
    }

@media screen and (max-width:1024px){
    .add-product {
        width: 50%;
        top: 50px;
        left: 232px;
    }
}
@media screen and (max-width:750px){
    .add-product {
        width: 80%;
        top: 30px;
        left: 62px;
    }
}
@media screen and (max-width:550px){
    .add-product {
        width: 100%;
        top: 0px;
        left: 0px;
        height: 100vh;
        box-sizing: border-box;
    }
    .add-input {
        font-size: 13px;
    }
    .add-btn {
        font-size: 13px;

    }
}

