@media screen and (max-width:1024px){
    #navbar{
        flex-direction: column;
        justify-content: space-between;
        height:150px;
    }
    .section1-images img {
        width: 25%;
        height: 270px;
    }
    .section2-images img {
        width: 25%;
        height: 250px;
    }
    .section3-images img {
        width: 25%;
        height: 250px;
    }
    .section4-images img {
        width: 25%;
        height: 280px;
    }
    .section5-images img {
        width: 25%;
        height: 250px;
    }
    .section6-images img {
        width: 25%;
        height: 220px;
    }
    .section7-images img {
        width: 25%;
        height: 230px;
    }
    .section8-images img {
        width: 50%;
        height: 300px;
    }
    .section9-images img {
        width: 25%;
        height: 230px;
    }
    .section10-images img {
        width: 50%;
        height: 300px;
    }
    .text{
        display: none;
    }
    #icon{
    width:100%;
    height:30%;
    
    }
    #icon img{
        height:100%;
        display: block;
        margin: auto;
    }
    #navi{
    width:100%;
    height:20%;
    font-size: 0.8rem;
    }
    #search{
    width:90%;
    height:30%;
    margin: auto;
    }
    #search i{
        position: absolute;
        top: 12px;
        left: 15px;
    }
    #search input{
       height:80%;
       font-size: 12px;
    }
    #profile{
    width:100%;
    height:20%;
    font-size: 10px;
    margin: 5px 0;
    }
    #pp,#wishlist,#bag{
        height:100%;
        margin-left: 9%;
    }
    #pp,#pp i{
        margin-top: 0;
    }
    
    #wishlist ,#wishlist i{
        margin-top: 0;
    }
    #bag, #bag i{
        margin-top: 0;
    }
    #bag{
    position: relative;
    }
    .cart-count{
        position: absolute;
        top: -4px;
        left: 17%;
        width: 15px;
        height: 15px;
    }
    #add {
        margin-top: 0px;
    }
    #pp:hover{
        .login{
            display: none;
           }
        
    }
    }
    @media screen and (max-width: 750px){
        .cart-count{
            position: absolute;
            left: 22%;
            width: 14px;
            height: 14px;
        }  
    }
    @media (max-width: 660px) {
        .body h3 {
            font-size: 16px;
        }
        .section1-images img {
            width: 25%;
            height: 185px;
        }
        .section2-images {
            justify-content: flex-start;
        }
        .section2-images img {
            width: 25%;
            height: 170px;
        }
        .section3-images img {
            width: 25%;
            height: 145px;
        }
        .section4-images img {
            width: 25%;
            height: 180px;
        }
        .section5-images img {
            width: 25%;
            height: 165px;
        }
        .section6-images img {
            width: 25%;
            height: 155px;
        }
        .section7-images img {
            width: 25%;
            height: 170px;
        }
        .section8-images img {
            width: 50%;
            height: 235px;
        }
        .section9-images img {
            width: 25%;
            height: 178px;
        }
        .section10-images img {
            width: 50%;
            height: 220px;
        }
        #section {
            display: none;
        }
        .footer2 {
            background-color: rgb(233, 229, 229);
            display: block;
        }
        .footer2 p {
            display: block;
        }
    }
    @media screen and (max-width: 440px){
        .cart-count{
            position: absolute;
            left: 35%;
            width: 14px;
            height: 14px;
        }  
    }

    