.profile-page{
    width:100%;
}
.profile{
    max-width: 61%;
   
    margin: auto;
    margin-top: 70px;
    
}
.fs-12{
    font-size: 12px;
}
.fs-15{
    font-size: 15px;
}
.fs-14{
    font-size: 14px;
}
.fs-18{
    font-size: 18px;
}
.fw-600{
    font-weight: 600;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.ptb-20{
    padding: 20px 0;
}
.pl-20{
    padding-left: 20px;
}
.pb-15{
    padding-bottom: 15px;
}
.pb-5{
    padding-bottom: 5px;
}
.bb{
    border-bottom: 1px solid #d4d5d9;
}
.lh-20{
    line-height: 20px;
}
.lh-47{
    line-height: 47px;
}

.section{
    border-top: 1px solid #d4d5d9;
    display: flex;
  
}
.profile-left{
    width:20%;
    border-right: 1px solid #d4d5d9;
    padding-right: 15px;
    box-sizing: border-box;
}
.profile-right{
    width:72%;
    border: 1px solid #d4d5d9;
   margin-left: 15px;
   margin-top: 15px;
   padding: 42px 130px;
}
.ls-none{
    list-style: none;
}
.fl-left{
    float: left;
}
.fl-right{
    float: right;
}
.width50{
width:50%;
}
.profile-form{
    width: 35%;
    margin: auto;
    padding: 15px;
    background-color: white;
    position: fixed;
    top: 130px;
    left: 510px;
    z-index: 999;
}