.form-body{
    background: linear-gradient(to bottom right,#feedf6,#fcf0e2);
    width:100vw;
    padding: 30px 0;
}
.mainBox{
    width:27%;
    height:100vh;
    
    margin: auto;
    
    background-color: white;
    
}
.mainBox img{
    width:100%;
}
.second{
    padding: 36px 36px 0;
}
.second div:nth-child(1){
    font-size: 20px;
    margin-bottom: 20px;
}
.second input,select{
    width:100%;
    padding-left: 12px;
    box-sizing: border-box;
    height:38px;
    border:none;
    outline: none;
    border: 1px solid rgb(204, 202, 202);
    margin: 10px 0;
}
.second p:nth-child(6){
    font-size: 13px;
    margin-top: 30px;   
    margin-bottom: 20px;  
    color: rgba(40,44,63,.8); 
}
.second p:nth-child(8),p:nth-child(9){
    font-size: 13px;
    margin-top: 30px;   
    margin-bottom: 20px; 
    color: rgba(40,44,63,.8);  
}
.second p b, a{
 color:   #ff3f6c;
}
.submit-btn{
display: block;
width: 100%;
margin: auto;
height: 40px;
background-color: #ff3f6c;
border: none;
outline: none;
font-weight: bold;
color: white;
}